/*
   New Perspectives on HTML and CSS
   Tutorial 3
   Case Problem 3

   Civil War History Text and Color Style
   Author: James DuBois
   Date:   3/10/2015

   Filename:         cw_styles.css
   Supporting Files: cw_layout.css

*/

